{
  "singleQuote": true,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["*.js", "*.tsx"],
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": ["*.md"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
